[submodule "dependencies/vim-pathogen"]
	path = dependencies/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "dependencies/vim-sensible"]
	path = dependencies/vim-sensible
	url = git@github.com:tpope/vim-sensible
[submodule "dependencies/vim-haml"]
	path = dependencies/vim-haml
	url = git@github.com:tpope/vim-haml.git
[submodule "dependencies/vim-rails"]
	path = dependencies/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "dependencies/screen"]
	path = dependencies/screen
	url = git@github.com:ervandew/screen.git
[submodule "dependencies/rbenv"]
	path = dependencies/rbenv
	url = git@github.com:sstephenson/rbenv.git
[submodule "dependencies/ruby-build"]
	path = dependencies/ruby-build
	url = git@github.com:sstephenson/ruby-build.git
